[submodule "appmonet-sdk/appmonet-sdk-bidder"]
	path = appmonet-sdk/appmonet-sdk-bidder
	url = https://github.com/AppMonet/standalone-android-sdk.git
[submodule "ios"]
	path = ios
	url = https://github.com/AppMonet/AppMonet-SDK-iOS.git
